/* font-family: 'M PLUS 1p', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif; */

html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* Utility Classes */

.margin-center {
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-top-margin {
  margin-top: 20px;
}

/* .second-paragraph {
  margin: 16px 350px 20px 350px;
} */

.text-center {
  text-align: center;
}

/* typography */

.blue {
  color: #20a39e;
  font-weight: bolder;
}

h1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 48px;
  margin: 0;
}

h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 28px;
  font-weight: bolder;
  margin: 0;
}

p {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

/* structure */

/* nav bar */

nav {
  align-items: center;
  border-bottom: 4px solid #00b3ac;
  display: flex;
  height: 65px;
  justify-content: center;
  width: 100%;
}

.header-logo {
  height: 42px;
  margin-left: 150px;
  width: 40px;
}

.nav-text {
  color: #2a2c2b;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  text-decoration: none;
}

.nav-text:hover {
  color: #ee7768;
}

.tamara-nav-text {
  color: #2a2c2b;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.nav-link {
  color: #2a2c2b;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  margin-left: 55px;
  text-decoration: none;
}

.nav-link:hover {
  color: #ee7768;
}

.nav-link.active {
  color: #ee7768;
}

.last-nav-link {
  margin-left: 5px;
  padding-right: 150px;
}

.resume {
  display: flex;
  align-items: center;
}

.pdf {
  height: 27px;
  margin-bottom: -5px;
  margin-left: 55px;
  width: 22px;
}

/* Hero section */

.hero-section {
  background-image: url("/images/geometry.png");
  background-repeat: repeat-x repeat-y;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-logo {
  display: block;
  height: 120px;
  margin: 0 auto;
  padding: 100px 0 30px 0;
  width: 116px;
}

.hero {
  font-size: 58px;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
}

.hero-2 {
  font-weight: normal;
  margin-bottom: 70px;
  text-align: center;
}

.hero-3 {
  font-size: 26px;
  font-weight: lighter;
  padding: 50px 0 110px 0;
  text-align: center;
}

.camera {
  margin-left: 5px;
  margin-bottom: -4px;
  width: 40px;
}

/* Studio Project Space */

.project-background {
  align-items: center;
  background-color: #20a39e;
  display: flex;
  height: 700px;
  justify-content: space-evenly;
}

.project-text {
  max-width: 350px;
}

.h-two-white-label {
  color: #fffefc;
  font-size: 42px;
  font-weight: bolder;
  margin: 30px 0 10px 0;
}

.white-label {
  color: #fffefc;
  font-weight: bold;
  margin: 0;
}

.white-label-paragraph {
  color: #fffefc;
  line-height: 22px;
  margin: 0;
  max-width:
}

.white-label-paragraph:first-child {
  color: #adfbf8;
  text-transform: uppercase;
}

.project-image {
  border-radius: 10px;
  height: 578px;
  width: 813px;
}

.case-study-button {
  border-top: 2px solid #fffefc;
  border-right: 2px solid #fffefc;
  border-bottom: 2px solid #fffefc;
  border-left: 2px solid #fffefc;
  border-radius: 10px;
  display: inline-block;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  margin: 40px 0;
  padding: 20px 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.case-study-button:hover {
  background: #fffefc;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: #20a39e;
  transition: 0.5s;
}

/* Call to action */

.cta {
  align-items: center;
  background-image: url("/images/geometry.png");
  background-repeat: repeat-x repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}

.cta-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: normal;
  max-width: 840px;
  text-align: center;
}

.button {
  background-color: #ee7768;
  border-radius: 10px;
  color: #fffefc;
  display: block;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  margin: 40px auto;
  padding: 25px 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 25%;
}

.button:hover {
  background-color: #ec6959;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

/* Footer */

footer {
  align-items: center;
  background-color: #ffe0dc;
  display: flex;
  height: 120px;
  justify-content: space-between;
}

.social-links {
  display: flex;
  list-style-type: none;
  margin-left: 150px;
}

.social-link {
  height: 35px;
  margin-right: 15px;
  width: 35px;
}

.designed-by {
  display: inline;
}

.copywright {
  font-weight: bold;
  margin-right: 150px;
}

.c-symbol {
  display: inline;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-bottom;
  width: 20px;
}

/******** About Page ********/

.about {
  margin: 0 auto;
}

.about-hero {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 100px 200px;
}

.tampic {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: initial;
  margin-right: 45px;
  width: 384px;
}

.about-h-one {
  font-weight: normal;
  max-width: 525px;
}

.teal-bar {
  height: 20px;
  background-color: #20a39e;
  width: 100%;
}

.about-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 70px 350px;
}

.about-body h2 {
  margin-bottom: 40px;
}

.tldr {
  margin-bottom: 70px;
}

.bold {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}

.about-margins {
  margin: 15px 0 40px 0;
}

.about-ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  margin-top: 15px;
  padding-left: 0;
}

.about-ol li {
  counter-increment: my-awesome-counter;
}

.about-ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #2a2c2b;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.poetry {
  margin-bottom: 50px;
}

.nonprofit {
  margin-bottom: 50px;
}

.bloc {
  margin-bottom: 50px;
}

/******** Contact Page ********/

.contact-background {
  background-image: url("/images/geometry.png");
  background-repeat: repeat-x repeat-y;
}

.h-one-contact {
  padding: 75px 0 10px 0;
}

.h-two-contact {
  font-weight: normal;
  margin: 0 auto 40px auto;
  max-width: 625px;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 40%;
}

.formfield {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  color: #20a39e;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
}

input {
  border: 0 solid #dadada;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'M PLUS 1p', sans-serif;
  height: 35px;
  margin-bottom: 20px;
  margin-top: 10px;
  resize: none;
  width: 100%;
}


textarea {
  border: 0 solid #dadada;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-family: 'M PLUS 1p', sans-serif;
  margin-top: 10px;
  resize: none;
  padding-top: 10px;
  width: 100%;
}

.contact-button {
  background-color: #ee7768;
  border: 0;
  border-radius: 10px;
  color: #fffefc;
  display: block;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  line-height: 0;
  margin: 40px 500px;
  padding: 30px 35px;
  resize: none;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-button:hover {
  background-color: #ec6959;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/******** Studio Case Study ********/

.studio-header {
  background: #20a39e;
  height: 690px;
  overflow: visible;
  padding-top: 75px;
}

.case-study-header {
  color: #fffefc;
  text-align: center;
}

.cs-descriptor {
  margin: 5px 0 35px 0;
}

.studio-dash {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: block;
  height: 636px;
  margin: 0 auto;
  width: 894px;
}

.studio-body {
  padding-top: 150px;
}

/* Summary Section */

.studio-h-two {
  margin-top: 75px;
}

.project-info {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  padding: 30px 100px;
  width: 840px;
}

.roles, .timeframe {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 28%;
  padding: 40px 30px;
}

.timeframe {
  margin-top: 15px;
}

.deliverables {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: 15px;
  padding: 40px 30px 40px 30px;
}

.summary-title {
  color: #20a39e;
  margin-bottom: 5px;
}

.summary-ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: bold;
  margin-top: 0;
}

.pro-sol {
  background: #f0f0f0;
  padding: 75px 0;
}

.text-page-width {
  margin: 0 auto;
  max-width: 739px;
}

/* User Survey Section */

.survey-results {
  align-items: center;
  border: 4px solid #20a39e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px auto;
  padding: 40px 85px;
  width: 840px;
}

.all-results {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.result-percent {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.percentage {
  color: #20a39e;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 64px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.percentage-p {
  line-height: 20px;
}

.insights-p {
  line-height: 26px;
}

.insights-p2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
}

.survey-insights {
  list-style-type: none;
  padding: 0;
  margin: 30px 0;
  text-align: center;
}

/* Competitive Analysis Section */

.competitive-results {
  border: 4px solid #20a39e;
  border-radius: 10px;
  height: 300px;
  margin: 40px auto;
  padding: 40px 100px;
  width: 840px;
}

.insights {
  display: block;
  margin-left: 0;
  padding: 0;
}

.boxed-title {
  margin-left: 50px;
}

.boxed-li {
  margin-left: 65px;
}

.link {
  color: #ee7768;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  color: #ec6959;
  text-shadow: 0 8px 15px rgba(0, 0, 0, 0.09);
}

/* Personas Sections */

.personas {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.both-personas {
  display: flex;
  justify-content: center;
}

.persona-block {
  background: #fffefc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
  max-width: 475px;
  width: 33%;
}

.first-persona {
  background-image: url(/images/persona1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 250px;
  width: 100%;
}

.second-persona {
  background-image: url(/images/persona2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 250px;
  width: 100%;
}

.persona-text {
  padding: 15px;
}

.persona-details {
  padding: 0;
}

.persona-goals {
  padding: 0 15px;
}

.persona-pain {
  padding: 0 15px;
}

.no-margins {
  margin: 0;
}

/* User Flows and User Stories Section */

.user-flow {
  display: block;
  height: initial;
  margin-top: 40px;
  width: 695px;
}

.two-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.story-flow-button {
  margin: 40px 5px;
}

/* Sketches and Wireframes Section */

.sketchwires {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.centered-image {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 746px;
}

.wireframes {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px 0;
}

.long-wireframe-image {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 862px;
  margin-right: 10px;
  width: 310px;
}

.stacked-wireframes {
  display: flex;
  flex-direction: column;
}

.stacked-wireframe-images {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 426px;
  width: 600px;
}

.stacked-wireframe-images:first-child {
  margin-bottom: 10px;
}

.wireframe-insights {
  border: 4px solid #20a39e;
  border-radius: 10px;
  height: 250px;
  margin: 40px auto;
  padding: 40px 100px;
  width: 840px;
}

/* High Fidelity Wireframes & Mockups Section */

.mockups {
}

.mockup-image-sizes {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: intitial;
  margin: 0 5px;
  width: 580px;
}

.mockup-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mockup-rows {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

hr {
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0.2;
  width: 35%;
}

.blue-line {
  border: 1px solid #20a39e;
  margin-top: 75px;
}

.more-testing-insights {
  border: 4px solid #20a39e;
  border-radius: 10px;
  height: 230px;
  padding: 40px 100px;
  margin: 40px auto;
  width: 840px;
}

/* Preference Testing Section */

.h-two-nomarg {
  margin-top: 0;
}

.preference-testing {
  background: #f0f0f0;
  padding: 75px 0;
}

.preference-title {
  margin-top: 75px;
}

.test-one {
  display: flex;
  justify-content: center;
}

.test-two {
  display: flex;
  justify-content: space-between;
}

.pref-three-row {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.preference-group {
  max-width: 33%;
  flex: 1;
  margin-right: 10px;
}

.preference-pic {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.preference-text {
  display: flex;
  margin: 0 10px;
  max-width: 100%;
}

.blue-results {
  flex: 2;
}

.pink-title {
    color: #ee7768;
    flex: 2;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.blue-title {
  color: #20a39e;
  flex: 2;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.preference-analysis {
  flex: 5;
  margin: 0;
}

.preference-insights {
  border: 4px solid #20a39e;
  border-radius: 10px;
  height: 700px;
  padding: 40px 100px;
  width: 840px;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;
}

.preference-marg {
  margin: 5px 0 40px 50px;
}

/* Branding Section */

.sketch-logos {
  display: block;
  height: initial;
  margin: 0 auto;
  width: 30%;
}

.logo-sketches {
  display: flex;
  justify-content: space-between;
}

.logo-img {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: initial;
  width: 100%;
}

.final-logos {
  display: flex;
  justify-content: space-around;
  margin-top: 75px;
}

.logos {
  width: 25%;
}

.logo-sketch-div {
  width: 33%;
}

.final-img {
  width: 100%;
}

.logo-annotation {
  text-align: center;
}

/* Takeaways Section */

.takeaways {
  background: #f0f0f0;
  padding: 75px 0;
}

.back-to-top {
  color: grey;
  display: block;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  width: fit-content;
}

.back-to-top:hover {
  color: #ee7768;
}

.hamburger-menu {
  display: none;
}

.hamburger-icon {
  display: inline-block;
  cursor: pointer;
  z-index: 101;
  position: absolute;
  top: 10px;
  right: 16px;
  transition: all 0.2s ease-in-out;
}

.fixedPosition {
  position: fixed;
}

.bar-one, .bar-two, .bar-three {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #20a39e;
  /* To see when styling, make top: 0 . To make invisible set top: -150% */
  top: -150%;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}

.open {
  top: 0;
}

.mobile-menu-bar {
  display: none;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.mobile-close {
  height: initial;
  width: 20px;
}

.mobile-nav-links {
  list-style: none;
}

.mobile-nav-link {
  color: #fffefc;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  list-style: none;
  text-align: center;
  text-decoration: none;
}

.mobile-li {
  margin: 20px 0;
}

.mobile-resume {
  color: #fffefc;
  display: flex;
  justify-content: baseline;
}

.mobile-last-nav-link {
  color: #fffefc;
  font-size: 24px;
  line-height: 27px;
  margin-left: 5px;
}

.mobile-pdf {
  height: 27px;
  margin-left: 0;
  width: 22px;
}

.change.hamburger-icon {
  top: 20px;
}

.change.bar-one {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
  background-color: white;
}

.change.bar-two {
  opacity: 0;
}

.change.bar-three {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
  background-color: white;
}


/*********** Media Queries **********/

.nav-hamburger {
  display: none;
}

nav {
  position: sticky;
  top: 0;
}

@media screen and (max-width: 1199px) {
  /* Header */
  .header-logo {
    margin-left: 15px;
  }
  .last-nav-link {
    padding-right: 0;
    margin-right: 15px;
  }

  /* Body */
  .project-image {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: initial;
    width: 613px;
  }
  .cta {
    padding: 100px 50px;
  }
  .cta h3 {
    text-align: center;
  }
  .p-top-margin {
    margin: 20px 0;
  }
  .project-info {
    margin-bottom: 75px;
    padding: 30px 50px;
    width: 80%;
  }
  .studio-h-two {
    margin-top: 35px;
  }
  .survey-results {
    padding: 40px 70px;
    width: 80%;
  }
  .competitive-results {
    height: initial;
    margin: 40px auto;
    padding: 40px 50px;
    width: 80%;
  }
  /* .second-paragraph {
    margin: 16px 200px;
  } */
  .wireframe-insights {
    height: initial;
    margin: 40px auto;
    padding: 40px 50px;
    width: 80%;
  }
  .boxed-title {
    margin-left: 50px;
  }
  .more-testing-insights {
    height: Initial;
    padding: 40px 50px;
    margin: 40px auto;
    width: 80%;
  }
  .mockup-image-sizes {
    width: 436px;
  }
  .age {
    width: 60%;
    margin: 0 auto;
  }
  .preference-insights {
    height: initial;
    padding: 30px 50px;
    margin: 40px auto;
    width: 80%;
  }
  .blue-line {
    width: 50%;
  }
  .about-body {
    padding: 70px 200px;
  }
  .about-hero {
    padding: 0 200px;
  }

  /* Footer */
  .social-links {
    padding-left: 0;
    margin-left: 0;
  }
  .copywright {
    margin-right: 0;
  }
  footer {
    padding: 0 5%;
  }
  .about-hero {
    padding: 100px;
  }
  .about-summary {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1088px) {
  /**Body**/

  .test-one {
    display: block;
  }
  .test-two {
    display: block;
  }
  .pref-three-row {
    display: block;
    margin-bottom: 0;
  }
  .preference-text {
    display: flex;
    margin: 0 10px 30px 10px;
    max-width: 100%;
  }
  .preference-group {
    max-width: 70%;
    flex: 1;
    margin: 0 auto;
  }
  .container {
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  /* Header */
  .nav-text {
    display: none;
  }
  .header-logo {
    margin-left: 30px;
  }
  .last-nav-link {
    margin-right: 30px;
  }
  /* Body */
  .studio-body {
    padding-top: 75px;
  }
  .project-background {
    flex-direction: column-reverse;
    height: 750px;
    padding-top: 50px;
  }
  .project-text {
    text-align: center;
  }
  .studio-dash {
    display: block;
    height: initial;
    margin: 0 auto;
    width: 700px;
  }
  .p-top-margin {
    margin-top: 20px;
  }
  .project-info {
    margin-bottom: 75px;
    padding: 30px 50px;
    width: 70%;
  }
  .survey-results {
    width: 75%;
  }
  .percentage {
    font-size: 48px;
  }
  .competitive-results {
    padding: 30px 50px;
    width: 70%;
  }
  /* .second-paragraph {
    margin: 16px 100px;
  } */
  .persona-block {
    width: 40%;
  }
  .studio-h-two {
    margin-top: 35px;
  }
  .wireframes {
    display: block;
    margin: 40px auto 10px auto;
  }
  .stacked-wireframe-images {
    display: block;
    height: initial;
    margin: 0 auto;
    width: 75%;
  }
  .wireframe-insights {
    padding: 30px 50px;
    width: 70%;
  }
  .long-wireframe-image {
    display: block;
    height: initial;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
  .boxed-title {
    margin-left: 50px;
  }
  .mockup-rows {
    display: block;
  }
  .mockup-images {
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
  .mockup-image-sizes {
    width: 75%;
  }
  hr {
    width: 50%;
  }
  .more-testing-insights {
    padding: 30px 50px;
    width: 70%;
  }
  .preference-insights {
    padding: 30px 50px;
    width: 70%;
  }
  .blue-line {
    width: 70%;
  }
  .about-body {
    padding: 70px 100px;
  }
  .about-hero {
    padding: 50px 30px 50px 100px;
  }
  .tampic {
    width: 40%;
  }
  .about-h-one {
    font-size: 40px;
  }

  /* Footer */
  footer {
    display: block;
    padding: 5%;
  }
  .social-links {
    display: flex;
    justify-content: center;
  }
  .copywright {
    text-align: center;
  }
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  /* Header */
  .nav-links {
    display: none;
  }
  nav {
    display: block;
  }
  .header-logo {
    margin: 8px 0 8px 16px;
  }
  /* Body */
  .studio-dash {
    display: block;
    height: initial;
    margin: 0 auto;
    width: 600px;
  }
  .studio-header {
    height: 600px;
  }
  .roles, .timeframe {
    border-radius: 0;
    box-shadow: none;
    height: inherit;
    padding: 0;
  }
  .deliverables {
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
    padding: 0;
  }
  .button {
    width: 45%;
  }
  .text-margin {
    margin: 0 0 0 50px;
  }
  .p-top-margin {
    margin: 20px 50px;
  }
  .project-info {
    border: none;
    border-radius: 0;
    display: block;
    margin-bottom: 30px;
    padding: 30px 50px;
    width: 70%;
  }
  .insights-p2 {
    line-height: 40px;
  }
  .survey-results {
    padding: 40px 0;
    width: 75%;
  }
  .all-results {
    display: block;
    margin: 0 125px;
    text-align: center;
}
  .summary-ul {
    margin: 0 auto 25px auto;
    text-align: center;
  }
  .summary-title {
    margin: 0 auto;
    text-align: center;
  }
  .second-paragraph {
    margin: 16px 50px;
  }
  .competitive-results {
    padding: 30px 30px;
    width: 80%;
  }
  .both-personas {
    display: block;
  }
  .persona-block {
    width: 60%;
    margin: 0 auto;
  }
  .top {
    margin-bottom: 40px;
  }
  .studio-h-two {
    margin-top: 35px;
  }
  .user-flow {
    width: 80%;
  }
  .age {
    width: 50%;
    margin: 0 auto;
  }
  .centered-image {
    width: 80%;
  }
  .logo-sketches {
    display: block;
  }
  .logo-sketch-div {
    margin: 0 auto;
    width: 60%;
  }
  .final-logos {
    display: block;
    margin-top: 40px;
  }
  .logos {
    margin: 40px auto;
    width: 45%;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }

  .tamara-nav-text {
    display: none;
  }

  .mobile-menu-bar {
    background-color: black;
    border-radius: 10px;
    display: block;
    height: 3px;
    margin: 6px 16px 6px 0;
    width: 35px;
  }
  .about-body {
    padding: 70px 50px;
  }
  .about-hero {
    padding: 50px 30px 50px 75px;
  }
  .about-h-one {
    font-size: 36px;
  }
  .wireframe-insights {
    padding: 30px 30px;
    width: 80%;
  }
  .more-testing-insights {
    padding: 30px 30px;
    width: 80%;
  }
.preference-insights {
    padding: 30px 30px;
    width: 80%;
  }
  /* Footer */
}

@media screen and (max-width: 675px) {
  /* Body */
  .studio-body {
    padding-top: 55px;
  }

  .project-image {
    height: initial;
    width: 513px;
  }
  .studio-dash {
    width: 450px;
  }
  .studio-header {
    height: 530px;
  }
  .text-margin {
    margin: 0 0 0 30px;
  }
  .p-top-margin {
    margin: 20px 30px;
  }
  .all-results {
    display: block;
    text-align: center;
    margin: 0 75px;
  }
  .second-paragraph {
    margin: 16px 30px;
  }
  .persona-block {
    width: 70%;
  }
  .studio-h-two {
    margin-top: 35px;
  }
  .preference-group {
    max-width: 80%;
  }
  .two-buttons {
    display: block;
  }
  .story-flow-button {
    margin: 0 auto;
  }
  .story-flow-button:first-child {
    margin-bottom: 25px;
  }
  .stacked-wireframe-images {
    height: initial;
    width: 80%;
    margin: 0 auto;
  }
  .mockup-image-sizes {
    width: 80%;
  }
  hr {
    width: 65%;
  }
  .age {
    width: 80%;
    margin: 0 auto;
  }
  .container {
    width: 70%;
  }
  .about-body {
    padding: 70px 30px;
  }
  .about-hero {
    display: block;
    margin: 0 auto;
    padding: 50px 0;
  }
  .about-summary {
    margin: 0 auto;
  }
  .about-h-one {
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
  }
  .tampic {
    display: block;
    margin: 0 auto 15px auto;
    width: 60%;
  }
  .project-background {
    padding: 20px 0;
  }
  .logos {
    margin: 40px auto;
    width: 60%;
  }
  .competitive-results {
    padding: 30px 15px;
    width: 90%;
  }
  .wireframe-insights {
    padding: 30px 15px;
    width: 90%;
  }
  .more-testing-insights {
    padding: 30px 15px;
    width: 90%;
  }
  .preference-insights {
    padding: 30px 15px;
    width: 90%;
  }
}

@media screen and (max-width: 575px) {
  /* Body */
  .project-image {
    height: initial;
    width: 80%;
  }
  .studio-dash {
    display: block;
    height: initial;
    margin: 0 auto;
    width: 400px;
  }
.studio-header {
    height: 450px;
  }
  .text-margin {
    margin: 0 0 0 16px;
  }
  .p-top-margin {
    margin: 20px 16px;
  }
  .second-paragraph {
    margin: 16px 16px;
  }
  .insights-p2 {
    font-size: 20px;
    line-height: 35px;
    text-align: left;
  }
  .persona-block {
    width: 80%;
  }
  .studio-h-two {
    margin-top: 35px;
  }
  .boxed-title {
    margin-left: 25px;
  }
  .boxed-li {
    margin-left: 35px;
  }
  .long-wireframe-image {
    width: 75%;
  }
  .all-results {
    margin: 0 60px;
  }
  .container {
    width: 90%;
  }
  .project-background {
    padding: 10px 0;
  }
  .annotation {
    text-align: center;
  }
  .tampic {
    width: 70%;
  }

  /* Header */
  .nav-text,
  .nav-links {
    display: none;
  }
  nav {
    display: block;
  }
  .header-logo {
    margin: 8px 0 8px 16px;
  }
  .about-body {
    padding: 70px 16px;
  }
  /* Footer */
}
