/* font-family: 'M PLUS 1p', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif; */

html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* typography */

.blue {
  color: #20a39e;
  font-weight: bolder;
}

h1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 48px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 32px;
  margin: 0px;
}

h3 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 28px;
  font-weight: bolder;
  margin: 0px;
}

p {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  margin: 0px;
}

/* structure */

/* nav bar */

nav {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 65px;
  justify-content: center;
  width: 100%;
}

.header_logo {
  height: 42px;
  margin-left: 150px;
  width: 40px;
}

.nav_text {
  color: #2a2c2b;
  font-size: 18px;
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.nav-link {
  color: #2a2c2b;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 55px;
  text-decoration: none;
}

.nav-link:hover {
  color: #ee7768;
}

.nav-link:active {
  color: #ee7768;
}

.last-nav-link {
  margin-left: 5px;
  padding-right: 150px;
}

.resume {
  display: flex;
  align-items: center;
}

.pdf {
  height: 35px;
  margin-left: 55px;
  width: 30px;
}

/* Hero section */

header {
  align-items: center;
  background-image: url("./images/geometry.png");
  background-repeat: repeat-x repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-logo {
  height: 120px;
  width: 116px;
  margin: 75px 0;
}

.hero {
  margin-bottom: 20px;
}

.hero2 {
  margin-bottom: 70px;
}

.hero3 {
  margin-bottom: 100px;
}

.camera {
  height: 36px;
  margin-left: 5px;
  width: 51px;
}

/* Studio Project Space */

.project_background {
  align-items: center;
  background-color: #20a39e;
  display: flex;
  height: 910px;
  justify-content: space-evenly;
}

.white-label {
  color: #fffefc;
  font-weight: bold;
  margin-bottom: 20px;
}

.project-image {
  height: 578px;
  width: 813px;
}

.case-study-button {
  border-top: 2px solid #fffefc;
  border-right: 2px solid #fffefc;
  border-bottom: 2px solid #fffefc;
  border-left: 2px solid #fffefc;
  border-radius: 20px;
  display: inline-block;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  margin: 40px 0px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Call to action */

.cta {
  align-items: center;
  background-image: url("./images/geometry.png");
  background-repeat: repeat-x repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}

.button {
  background-color: #ee7768;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: ##fffefc;
  display: inline-block;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  margin: 40px 0px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Footer */

footer {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 120px;
  justify-content: space-between;
  width: 100%;
}

.social-links {
  margin-left: 150px;
}

.social-link {
  height: 35px;
  margin-right: 15px;
  width: 35px;
}

.copywright {
  font-weight: bold;
  margin-right: 150px;
}

.c-symbol {
  height: 20px;
  margin-right: 10px;
  width: 20px;
}
