/* font-family: 'M PLUS 1p', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif; */

html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* Utility Classes */

.margin-center {
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-top-margin {
  margin: 20px 350px 0 350px;
}

.second-paragraph {
  margin: 16px 350px 20px 350px;
}

.text-margin {
  margin: 0 350px;
}

.text-center {
  text-align: center;
}

/* typography */

.blue {
  color: #20a39e;
  font-weight: bolder;
}

h1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 48px;
  margin: 0;
}

h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 28px;
  font-weight: bolder;
  margin: 0;
}

p {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

/* structure */

/* nav bar */

nav {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 65px;
  justify-content: center;
  width: 100%;
}

.header-logo {
  height: 42px;
  margin-left: 150px;
  width: 40px;
}

.nav-text {
  color: #2a2c2b;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  text-decoration: none;
}

.nav-text:hover {
  color: #ee7768;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.nav-link {
  color: #2a2c2b;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  margin-left: 55px;
  text-decoration: none;
}

.nav-link:hover {
  color: #ee7768;
}

.nav-link:active {
  color: #ee7768;
}

.last-nav-link {
  margin-left: 5px;
  padding-right: 150px;
}

.resume {
  display: flex;
  align-items: center;
}

.pdf {
  height: 27px;
  margin-left: 55px;
  width: 22px;
}

/* Hero section */

header {
  background-image: url("./images/geometry.png");
  background-repeat: repeat-x repeat-y;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-logo {
  display: block;
  height: 120px;
  margin: 0 auto;
  padding: 75px 0;
  width: 116px;
}

.hero {
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}

.hero-2 {
  font-weight: normal;
  margin-bottom: 70px;
  text-align: center;
}

.hero-3 {
  font-weight: normal;
  padding: 75px 0;
  text-align: center;
}

.camera {
  height: 36px;
  margin-left: 5px;
  width: 51px;
}

/* Studio Project Space */

.project-background {
  align-items: center;
  background-color: #20a39e;
  display: flex;
  height: 700px;
  justify-content: space-evenly;
}

.h-two-white-label {
  color: #fffefc;
  font-weight: bolder;
  margin: 10px 0 20px 0;
}

.white-label {
  color: #fffefc;
  font-weight: bold;
  margin: 0;
}

.white-label-paragraph {
  color: #fffefc;
  line-height: 22px;
  margin: 0;
}

.project-image {
  height: 578px;
  width: 813px;
}

.case-study-button {
  border-top: 2px solid #fffefc;
  border-right: 2px solid #fffefc;
  border-bottom: 2px solid #fffefc;
  border-left: 2px solid #fffefc;
  border-radius: 20px;
  display: inline-block;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  margin: 40px 0;
  padding: 20px 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.case-study-button:hover {
  background: #fffefc;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: #20a39e;
}

/* Call to action */

.cta {
  align-items: center;
  background-image: url("./images/geometry.png");
  background-repeat: repeat-x repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}

.button {
  background-color: #ee7768;
  border-radius: 20px;
  color: #fffefc;
  display: block;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  margin: 40px 500px;
  padding: 25px 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #ec6959;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */

footer {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 120px;
  justify-content: space-between;
}

.social-links {
  display: flex;
  list-style-type: none;
  margin-left: 150px;
}

.social-link {
  height: 35px;
  margin-right: 15px;
  width: 35px;
}

.designed-by {
  display: inline;
}

.copywright {
  font-weight: bold;
  margin-right: 150px;
}

.c-symbol {
  display: inline;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-bottom;
  width: 20px;
}

/******** About Page ********/

.about-hero {
  align-items: center;
  display: flex;
  padding: 100px 0;
}

.tampic {
  margin-left: 325px;
  margin-right: 15px;
}

.about-h-one {
  font-weight: normal;
}

.teal-bar {
  height: 20px;
  background-color: #20a39e;
  width: 100%;
}

.about-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 70px 360px;
}

.tldr {
  margin-bottom: 70px;
}

.bold {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}

.about-margins {
  margin: 5px 0 40px 0;
}

.about-ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

.about-ol li {
  counter-increment: my-awesome-counter;
}

.about-ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #2a2c2b;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.poetry {
  margin-bottom: 50px;
}

.nonprofit {
  margin-bottom: 50px;
}

.bloc {
  margin-bottom: 50px;
}

/******** Contact Page ********/

.contact-background {
  background-image: url("./images/geometry.png");
  background-repeat: repeat-x repeat-y;
}

.h-one-contact {
  padding: 75px 0 10px 0;
}

.h-two-contact {
  font-weight: normal;
  margin-bottom: 75px;
}

.container {
  margin: 0 auto;
  width: 40%;
}

.formfield {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bolder;
  text-align: left;
}

input {
  border: 2px solid #dadada;
  border-radius: 10px;
  font-family: 'M PLUS 1p', sans-serif;
  height: 35px;
  margin-bottom: 10px;
  width: 100%;
}

textarea {
  border: 2px solid #dadada;
  border-radius: 10px;
  font-family: 'M PLUS 1p', sans-serif;
  width: 100%;
}

.contact-button {
  background-color: #ee7768;
  border: 0;
  border-radius: 20px;
  color: #fffefc;
  display: block;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  line-height: 0;
  margin: 40px 500px;
  padding: 30px 35px;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-button:hover {
  background-color: #ec6959;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/******** Studio Case Study ********/

.studio-header {
  background: #20a39e;
  height: 690px;
  overflow: visible;
  padding-top: 75px;
}

.case-study-header {
  color: #fffefc;
}

.cs-descriptor {
  margin: 5px 0 35px 0;
}

.studio-dash {
  border-radius: 20px;
  box-shadow: 0 4px 10px grey;
  display: block;
  height: 636px;
  margin: 0 auto;
  width: 894px;
}

.studio-body {
  padding-top: 150px;
}

/* Summary Section */

.studio-h-two {
  margin-top: 35px;
}

.project-info {
  border: 4px solid #20a39e;
  border-radius: 20px;
  display: flex;
  height: 390px;
  justify-content: space-evenly;
  margin-bottom: 75px;
  padding: 30px 100px;
  width: 840px;
}

.roles {
  display: flex;
  flex-direction: column;
}

.summary-ul {
  display: block;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.title {
  font-weight: bold;
  margin-top: 0;
}

.pro-sol {
  background: #f0f0f0;
  padding: 75px 0;
}

/* User Survey Section */

.survey-results {
  align-items: center;
  border: 4px solid #20a39e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 390px;
  justify-content: space-evenly;
  margin: 40px auto;
  padding: 40px 100px;
  width: 840px;
}

.all-results {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.result-percent {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.percentage {
  color: #20a39e;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 64px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.survey-insights {
  list-style-type: disc;
  margin-left: 0;
  padding: 0;
}

/* Competitive Analysis Section */

.competitive-results {
  border: 4px solid #20a39e;
  border-radius: 20px;
  height: 300px;
  margin: 40px auto;
  padding: 40px 100px;
  width: 840px;
}

.insights {
  display: block;
  margin-left: 0;
  padding: 0;
}

.boxed-title {
  margin-left: 50px;
}

.boxed-li {
  margin-left: 65px;
}

.link {
  color: #ee7768;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/* Personas Sections */

.personas {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 75px 0;
}

.both-personas {
  display: flex;
  justify-content: space-evenly;
}

.persona-block {
  background: #fffefc;
  border-radius: 20px;
  width: 33%;
}

.first-persona {
  background-image: url(./images/persona1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 250px;
  width: 100%;
}

.second-persona {
  background-image: url(./images/persona2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 250px;
  width: 100%;
}

.persona-text {
  padding: 15px;
}

.persona-details {
  padding: 0;
}

.persona-goals {
  padding: 0 15px;
}

.persona-pain {
  padding: 0 15px;
}

.no-margins {
  margin: 0;
}

/* User Flows and User Stories Section */

.user-flow {
  display: block;
  height: 541px;
  width: 695px;
}

/* Sketches and Wireframes Section */

.sketchwires {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 75px 0;
}

.centered-image {
  width: 40%;
  margin: 0 auto;
}

.wireframes {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px 0;
}

.long-wireframe-image {
  height: 852px;
  width: 300px;
}

.stacked-wireframes {
  display: flex;
  flex-direction: column;
}

.stacked-wireframe-images {
  height: 426px;
  width: 600px;
}

.wireframe-insights {
  border: 4px solid #20a39e;
  border-radius: 20px;
  height: 250px;
  margin: 40px auto;
  padding: 40px 100px;
  width: 840px;
}

/* High Fidelity Wireframes & Mockups Section */

.mockups {
}

.mockup-image-sizes {
  height: 310px;
  width: 436px;
}

.mockup-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mockup-rows {
  display: flex;
  justify-content: center;
  margin-bottom: 40px
}

.more-testing-insights {
  border: 4px solid #20a39e;
  border-radius: 20px;
  height: 230px;
  padding: 40px 100px;
  margin: 40px auto;
  width: 840px;
}

/* Preference Testing Section */

.preference-testing {
  background: #f0f0f0;
  padding: 75px 0;
}

.preference-title {
  margin-top: 75px;
}

.test-one {
  display: flex;
  justify-content: center;
}

.test-two {
  display: flex;
  justify-content: space-between;
}

.pref-three-row {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.preference-group {
  max-width: 33%;
  flex: 1;
}

.preference-pic {
  width: 100%;
}

.preference-text {
  display: flex;
  margin: 0 10px;
  max-width: 100%;
}

.blue-results {
  flex: 2;
}

.blue-title {
  color: #20a39e;
  flex: 2;
  font-weight: bold;
  text-transform: uppercase;
}

.preference-analysis {
  flex: 5;
}

.preference-insights {
  border: 4px solid #20a39e;
  border-radius: 20px;
  height: 700px;
  padding: 40px 100px;
  width: 840px;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;
}

.preference-marg {
  margin: 5px 0 40px 50px;
}

/* Branding Section */

.logo-sketches {
  display: flex;
}

.logo-img {
  max-width: 33%;
}

.final-logos {
  display: flex;
  justify-content: space-around;
}

.logo-annotation {
  text-align: center;
}

/* Takeaways Section */

.takeaways {
  background: #f0f0f0;
  padding: 75px 0;
}

/*********** Media Queries **********/

.nav-hamburger {
  display: none;
}

nav {
  position: sticky;
  top: 0;
}

/* You can do it pookie, you are the best */

/* Remembering to take out the height from images. If you don't set a height, it will auto adjust when you set the widths! */

@media screen and (max-width: 1199px) {
  /* Header */
  .header-logo {
    margin-left: 15px;
  }
  .last-nav-link {
    padding-right: 0;
    margin-right: 15px;
  }

  /* Body */
  .project-image {
    height: 378px;
    width: 613px;
  }
  .cta {
    padding: 100px 50px;
  }
  .cta h3 {
    text-align: center;
  }

  /* Footer */
  .social-links {
    padding-left: 0;
    margin-left: 0;
  }
  .copywright {
    margin-right: 0;
  }
  footer {
    padding: 0 5%;
  }
}

@media screen and (max-width: 991px) {
  /* Header */
  .nav-text {
    display: none;
  }
  .header-logo {
    margin-left: 30px;
  }
  .last-nav-link {
    margin-right: 30px;
  }
  /* Body */
  .project-background {
    flex-direction: column-reverse;
    height: 750px;
  }
  .project-text {
    text-align: center;
  }

  /* Footer */
  footer {
    display: block;
    padding: 5%;
  }
  .social-links {
    display: flex;
    justify-content: center;
  }
  .copywright {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  /* Header */
  .nav-links {
    display: none;
  }
  .nav-hamburger {
    display: block;
  }
  nav {
    display: block;
  }
  .header-logo {
    margin: 8px 0 8px 16px;
  }
  /* Footer */
}

@media screen and (max-width: 675px) {
  /* Body */
  .project-image {
    height: 278px;
    width: 513px;
  }
}

@media screen and (max-width: 575px) {
  /* Body */
  .project-image {
    height: initial;
    width: 80%;
  }
  /* Header */
  .nav-text,
  .nav-links {
    display: none;
  }
  nav {
    display: block;
  }
  .header-logo {
    margin: 8px 0 8px 16px;
  }
  /* Footer */
}
