/* font-family: 'M PLUS 1p', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif; */

html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* Utility Classes */

.margin-center {
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-margin {
  margin: 0 275px;
}

.text-center {
  text-align: center;
}

/* typography */

.blue {
  color: #20a39e;
  font-weight: bolder;
}

h1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 48px;
  margin-bottom: 0;
}

h2 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 32px;
  font-weight: regular;
  margin: 0;
}

h3 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 28px;
  font-weight: bolder;
  margin: 0;
}

p {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

/* structure */

/* nav bar */

nav {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 65px;
  justify-content: center;
  width: 100%;
}

.header_logo {
  height: 42px;
  margin-left: 150px;
  width: 40px;
}

.nav_text {
  color: #2a2c2b;
  font-size: 18px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.nav-link {
  color: #2a2c2b;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  margin-left: 55px;
  text-decoration: none;
}

.nav-link:hover {
  color: #ee7768;
}

.nav-link:active {
  color: #ee7768;
}

.last-nav-link {
  margin-left: 5px;
  padding-right: 150px;
}

.resume {
  display: flex;
  align-items: center;
}

.pdf {
  height: 27px;
  margin-left: 55px;
  width: 22px;
}

/* Hero section */

header {
  background-image: url("./images/geometry.png");
  background-repeat: repeat-x repeat-y;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-logo {
  display: block;
  height: 120px;
  margin: 0 auto;
  padding: 75px 0;
  width: 116px;
}

.hero {
  margin-bottom: 20px;
  text-align: center;
}

.hero-2 {
  margin-bottom: 70px;
  text-align: center;
}

.hero-3 {
  padding: 75px 0;
  text-align: center;
}

.camera {
  height: 36px;
  margin-left: 5px;
  width: 51px;
}

/* Studio Project Space */

.project_background {
  align-items: center;
  background-color: #20a39e;
  display: flex;
  height: 910px;
  justify-content: space-evenly;
}

.white-label {
  color: #fffefc;
  font-weight: bold;
  margin-bottom: 20px;
}

.project-image {
  height: 578px;
  width: 813px;
}

.case-study-button {
  border-top: 2px solid #fffefc;
  border-right: 2px solid #fffefc;
  border-bottom: 2px solid #fffefc;
  border-left: 2px solid #fffefc;
  border-radius: 20px;
  display: inline-block;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  margin: 40px 0;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Call to action */

.cta {
  align-items: center;
  background-image: url("./images/geometry.png");
  background-repeat: repeat-x repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}

.button {
  background-color: #ee7768;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: #fffefc;
  display: block;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  margin: 40px 500px;
  padding: 25px 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Footer */

footer {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 120px;
  justify-content: space-between;
  width: 100%;
}

.social-links {
  display: flex;
  list-style-type: none;
  margin-left: 150px;
}

.social-link {
  height: 35px;
  margin-right: 15px;
  width: 35px;
}

.designed-by {
  display: inline;
}

.copywright {
  font-weight: bold;
  margin-right: 150px;
}

.c-symbol {
  display: inline;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-bottom;
  width: 20px;
}

/******** About Page ********/

.about-hero {
  align-items: center;
  display: flex;
  padding: 100px 0;
}

/* .tampic {
  margin: 0 auto;
} */

.teal-bar {
  height: 20px;
  background-color: #20a39e;
  width: 100%;
}

.about-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 70px 360px;
}

.tldr {
  margin-bottom: 70px;
}

.bold {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}

.poetry {
  margin-bottom: 50px;
}

.nonprofit {
  margin-bottom: 50px;
}

.bloc {
  margin-bottom: 50px;
}

/******** Contact Page ********/

.contact-background {
  background-image: url("./images/geometry.png");
  background-repeat: repeat-x repeat-y;
}

.container {
  margin: 0 auto;
  width: 33%;
}

.formfield {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bolder;
  text-align: left;
}

input {
  border: 2px solid #dadada;
  border-radius: 10px;
  font-family: 'M PLUS 1p', sans-serif;
  height: 45px;
  width: 100%;
}

textarea {
  border: 2px solid #dadada;
  border-radius: 10px;
  font-family: 'M PLUS 1p', sans-serif;
  width: 100%;
}

/******** Studio Case Study ********/

.studio-header {
  background: #20a39e;
  height: 690px;
  overflow: visible;
  padding-top: 75px;
}

.case-study-header {
  color: #fffefc;
}

.cs-descriptor {
  margin: 5px 0 35px 0;
}

.studio-dash {
  border-radius: 20px;
  box-shadow: 0 4px 10px grey;
  display: block;
  height: 636px;
  margin: 0 auto;
  width: 894px;
}

.studio-body {
  padding-top: 150px;
}

/* Summary Section */

.studio-h-two {
  margin-top: 35px;
}

.project-info {
  border: 4px solid #20a39e;
  border-radius: 20px;
  display: flex;
  height: 390px;
  justify-content: space-evenly;
  padding: 30px 100px;
  width: 840px;
}

.roles {
  display: flex;
  flex-direction: column;
}

.summary-ul {
  display: block;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.title {
  font-weight: bold;
}

.pro-sol {
  background: #f0f0f0;
  padding: 40px 0;
}

/* User Survey Section */

.survey_results {
  align-items: center;
  border: 4px solid #20a39e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 390px;
  justify-content: space-evenly;
  padding: 30px 100px;
  width: 840px;
}

.all-results {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.result_percent {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.percentage {
  color: #20a39e;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 64px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.survey-insights {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

/* Competitive Analysis Section */

.competitive-results {
  border: 4px solid #20a39e;
  border-radius: 20px;
  height: 390px;
  padding: 30px 100px;
  width: 840px;
}

.insights {
  display: block;
  margin-left: 0;
  padding: 0;
}

.link {
  color: #ee7768;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/* Personas Sections */

.personas {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.both-personas {
  display: flex;
  justify-content: space-evenly;
}

.persona-block {
  background: #fffefc;
  border-radius: 20px;
  width: 33%;
}

.first-persona {
  background-image: url(./images/persona1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 250px;
  width: 100%;
}

.second-persona {
  background-image: url(./images/persona2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 250px;
  width: 100%;
}

.persona-text {
  padding: 15px;
}

.persona-details {
  padding: 0;
}

.persona-goals {
  padding: 15px;
}

.persona-pain {
  padding: 15px;
}

/* User Flows and User Stories Section */

.user-flow {
  display: block;
  height: 541px;
  width: 695px;
}

/* Sketches and Wireframes Section */

.sketchwires {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.centered-image {
  width: 40%;
  margin: 0 auto;
}

.wireframes {
  display: flex;
  justify-content: center;
}

.long-wireframe-image {
  height: 852px;
  width: 300px;
}

.stacked-wireframes {
  display: flex;
  flex-direction: column;
}

.stacked-wireframe-images {
  height: 426px;
  width: 600px;
}

.wireframe-insights {
  border: 4px solid #20a39e;
  border-radius: 20px;
  height: 390px;
  margin: 0 auto;
  padding: 30px 100px;
  width: 840px;
}

/* High Fidelity Wireframes & Mockups Section */

.mockups {
}

.mockup-image-sizes {
  height: 310px;
  width: 436px;
}

.mockup_images {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mockup-rows {
  display: flex;
  justify-content: center;
}

.more-testing-insights {
  border: 4px solid #20a39e;
  border-radius: 20px;
  height: 390px;
  padding: 30px 100px;
  width: 840px;
}

/* Preference Testing Section */

.preference-testing {
  background: #f0f0f0;
}

.test-one {
  display: flex;
  justify-content: center;
}

.test-two {
  display: flex;
}

.test-three {
  display: flex;
}

/* .preference-group {
  align-content: center;
  display: flex;
  flex-direction: column;
} */

.preference-pic {
  width: 100%;
}

.preference-text {
  display: flex;
  max-width: 100%;
}

.blue-results {
  flex: 2;
}

.blue-title {
  color: #20a39e;
  flex: 2;
  font-weight: bold;
  text-transform: uppercase;
}

.preference-analysis {
  flex: 5;
}

.preference-insights {
  border: 4px solid #20a39e;
  border-radius: 20px;
  height: 600px;
  padding: 30px 100px;
  width: 840px;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}

/* Branding Section */

.logo-sketches {
  display: flex;
}

.final-logos {
  display: flex;
  justify-content: space-around;
}

/* Takeaways Section */

.takeaways {
  background: #f0f0f0;
}
